.card {
    flex: 1;
    border: none;
    
    .card-header {
        border-style: none;
        border-radius: 0;
    }

    .card-body {
        .course-link {
            color: $cap-darker-charcoal;
        }
    }
}

.card-center {
    align-self: center;
    max-height: 650px;
    width: 800px;
    margin-top: 15px;
}

.login-card {
    max-height: 345px;
}

.card-header {
    &.with-border {
        border-bottom: 1px solid #f4f4f4;
        .collapsed-box & {
            border-bottom: none;
        }
    }

    > .fa,
    .card-title {
        display: inline-block;
        font-size: 18px;
        margin: 0;
        line-height: 1;
    }

    > .fa {
        margin-right: 5px;
    }

    > .card-tools {
        position: absolute;
        right: 22px;
        top: 22px;
        [data-toggle="tooltip"] {
            position: relative;
        }
    }
}