.card {
    flex: 1;
    border: none;
    
    .card-header {
        border-style: none;
        border-radius: 0;
    }

    .card-body {
        .course-link {
            color: $cap-darker-charcoal;
        }
    }
}

.card-center {
    align-self: center;
    max-height: 650px;
    width: 800px;
    margin-top: 15px;
}

.login-card {
    max-height: 345px;
}