.card {
    flex: 1;
    border: none;
    
    .card-header {
        border-style: none;
        border-radius: 0;
    }

    .card-body {
        .course-link {
            color: $cap-darker-charcoal;
        }
    }
}

.card-center {
    margin: 15px 250px 425px 250px;
}