.main-chat {
    color: $cap-morning-sky;
    background-color: $cap-darker-charcoal;
    width: 100%;
    position: relative;
    display: block;
    z-index: 1;

    @include media-breakpoint-up(md) {
        width: 225px;
    }

    @include media-breakpoint-up(md) {
        max-height: 100%;
    }

    .chat-body {
        @include media-breakpoint-up(md) {
            display: block;
        }

        margin: auto;
    }
}

.chat-frame {
    position: relative;
    height: 100%;
    z-index: 4;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);

    &:before {
        content: "";
        // background-color: rgb(146, 146, 159);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 36px;
        z-index: -1;
    }
}