html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: darken($smoke, 10);
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;

    @include media-breakpoint-up(md) {
        flex-flow: nowrap;
    }

    min-height: 100vh;
    height: 100%;
}

.content-body {
   display: flex;
   flex-direction: column;
   width: 100%; 
}

.alert {
    margin: 0;
}

.help-block {
    color: $danger;
    font-size: .75rem;
    margin-left: 15px;
}

.hidden {
    display: none;
}

.no-padding {
    padding: 0;
}