.main-nav {
    width: 100%;
    position: relative;
    display: block;
    z-index: 1;

    @include media-breakpoint-up(md) {
        width: 225px;
    }

    @include media-breakpoint-up(md) {
        max-height: 100%;
    }

    .nav {
        .nav-item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.125); // TODO: change color.
            padding: 0;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:first-child {
                border-top: 1px solid rgba(0, 0, 0, 0.125); // TODO: change color.
            }

            &:hover,
            &:active {
                background-color: rgba(0, 27, 53, 0.25); // TODO: change color.
                color: darken($cap-morning-sky, 10);
            }

            &.active {
                background-color: rgba(0, 27, 53, 0.25); // TODO: change color.
                color: darken($cap-morning-sky, 10);
            }
        }

        .nav-link {
            padding: 0.6rem 1rem 0.6rem 0;
            color: $cap-morning-sky; // TODO: change color.
            font-weight: bold;

            > .nav-item-addon {
                color: $cap-morning-sky; // TODO: change color.
                width: 36px;
                display: inline-block;
                text-align: center;
                margin-right: 0.75rem;
            }
        }
    }

    .main-nav-toggle {
        width: 100%;
        font-weight: bold;
        @extend .btn;
        border-radius: 0;
        text-align: left;
        padding: 0.6rem 1rem 0.6rem 0;

        &:focus {
            @include box-shadow(none);
        }

        @include media-breakpoint-up(md) {
            display: none;
        }

        .main-nav-toggle-addon {
            width: 36px;
            text-align: center;
            margin-right: .75rem;
            display: inline-block;
        }
    }

    .nav-body {
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
}

.nav-frame {
    position: relative;
    height: 100%;
    z-index: 4;
    box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.125);
    background-color: lighten($cap-darker-charcoal, 5); //TODO: change color.

    &:before {
        content: "";
        background-color: $cap-dark-aqua;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 38px;
        z-index: -1;
    }
}

.navbar {
    background-color: $cap-dark-aqua;

    > a {
        color: $cap-morning-sky;
    }

    .collapse > ul > li > a {
        color: $cap-morning-sky;
    }

    > ul > li > a {
        color: $cap-morning-sky;
    }

    .dropdown-menu {
        background-color: $cap-dark-aqua;

        > a {
            color: $cap-morning-sky;
        }

        &:hover {
            > a {
                background-color: $cap-dark-aqua;
                color: darken($cap-morning-sky, 10);
            }
        }
    }

    .navbar-brand {
        &:hover {
            color: darken($cap-morning-sky, 10);
        }
    }

    .navbar-collapse {
        > ul {
            > li {
                > a {
                    &:hover {
                        color: darken($cap-morning-sky, 10);
                    }
                }
            }
        }
    }

    > ul {
        > li {
            > a {
                &:hover {
                    color: darken($cap-morning-sky, 10);
                }
            }
        }
    }
}