.assignments-toolbar {
    padding-bottom: 15px;
}

#assignment-name {
    text-decoration: none;
}

input#assignmentFile {
    cursor: pointer;
}

.submission-details {
    div > p {
        margin-bottom: 0;
    }

    .submission-comments {
        padding-bottom: 20px;
    }
}

.grade-input {
    padding: 20px;
}

div.total-points {
    display: flex;
    flex-direction: row;

    > label {
        flex: 1;
        align-self: center;
        margin-bottom: 0;
    }

    > input#points {
        max-width: 150px;
    }
}