.grade-input {
    flex-direction: column;

    .input {
        display: flex;
        padding-bottom: 10px;

        > label {
            flex: 1;
            align-self: center;
            margin-bottom: 0;
        }

        .form-control {
            flex: 1;
            max-width: 95px;
        }
        
        .grade-input-area {
            display: flex;

            .total-points {
                align-self: center;
            }
        }
    }
}