.notes-toolbar {
    padding-bottom: 15px;
}

.notes-title {
    display: flex;

    label {
        margin-bottom: 0;
        margin-right: 20px;
        align-self: center;
    }

    input {
        flex: 1;
    }
}

.shareable-link {
    display: flex;

    label {
        margin-bottom: 0;
        margin-right: 20px;
        align-self: center;
    }

    input {
        border-radius: 0;
    }

    .btn.btn-default {
        border-radius: 0;
    }

    .form-control:focus {
       border-color: unset;
       box-shadow: none;
    }

    .btn:focus {
        box-shadow: none;
    }
}

.note-alert {
    padding: 5px;
    margin-right: 10px;
}